{% extends "admin/admin_base.html" %}

{% block title %}Add Book Copies | LMS{% endblock %}

{% block content %}

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">LMS</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Add</a></li>
                    <li class="breadcrumb-item active">Copies</li>
                </ol>
            </div>
            <h4 class="page-title">Registration book copies</h4>
        </div>
    </div>
</div>
<!-- end page title -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <div class="alert alert-success" role="alert" id="succ_msg" style="display: none;">
                    A simple success alert—check it out!
                </div>
                <div class="alert alert-danger" role="alert" id="err_msg" style="display: none;">
                    A simple danger alert—check it out!
                </div>
                <form id="copiesForm" novalidate>

                    <div class="alert alert-success" id="copies_succ_msg" style="display:none;"></div>
                    <div class="alert alert-danger" id="copies_error_msg" style="display:none;"></div>

                    <div class="row">

                        <!-- Edition -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Edition</label>
                                <select name="edition_id" class="form-control">
                                    <option value="">Select Edition</option>
                                    {% for book in books %}
                                    {%for edition in editions%}
                                    {%if book.book_id == edition.book_id%}
                                    <option value="{{ edition.edition_id }}">
                                        {{ edition.edition_number }} - {{ book.title }}
                                    </option>
                                    {%endif%}
                                    {%endfor%}
                                    {% endfor %}
                                </select>
                                <div id="edition_id_error" class="invalid-feedback"></div>
                            </div>
                        </div>

                        <!-- Copies -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Number of Copies</label>
                                <input type="number" name="copies_count" class="form-control"
                                    placeholder="Enter copies count">
                                <div id="copies_count_error" class="invalid-feedback"></div>
                            </div>
                        </div>

                    </div>

                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" onclick="add_book_copies()">
                            <span id="copiesSpinner" class="spinner-border spinner-border-sm d-none"></span>
                            <span id="copiesBtnText">Add Copies</span>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<script src="{{url_for('static', filename = 'js/librarian/register_books_editions_copies.js')}}"></script>
{% endblock %}